html {
  scroll-behavior: smooth;
}
.home{
  background-color: black;
}
.contone{
  color: white;
  content: "";
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.737)), url('../../components/images/concert.jpg') no-repeat center center/cover;
  height: 865px;
  width: 100%;
  background-attachment: fixed;
 
}
.contonecont{
  padding-top: 210px;
  padding-left: 100px;
  transition: 0.5s;
}
.contonecont:hover{
  transform: skew(1.1, 1.1);
}
.lonetit{
  font-weight: 900;
  font-size: 65px;
}
.lonecontent{
  width: 533px;
  font-weight: 300;
  font-size: 15px;
}
  